/* מבנה כללי */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; /* גובה מלא */
  background-color: #f0f8ff; /* צבע רקע בהיר */
  text-align: right;
  overflow: hidden; /* מניעת גלילה */
}

/* אייקון כניסה */
.login-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.login-options {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 150px; /* רוחב אחיד */
}

.entry-link {
  text-decoration: none;
  padding: 10px;
  color: #333;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; /* כל טקסט בשורה אחת */
}

.entry-link:hover {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

/* תאריך */
.date-container {
  font-size: 2rem;
  width: 90%;
  text-align: center;

  /* padding: 10px; */
  margin-bottom: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* מבנה הרובעים */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin-top: 20px;
  gap: 20px;
}

/* קופסאות צדדיות */
.box {
  /* border: 1px solid #ccc; */

  background-color: rgb(253, 255, 223);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  height: 70vh;
}

.boxright {
  border-radius: 40px;
  opacity: 0.9;
  width: 24%;
  order: 3;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.boxleft {
  border-radius: 40px;
  opacity: 0.9;
  width: 24%; /* רחב יותר */
  order: 1; /* לצד ימין */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* תוכן מרכזי */
.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 42%;
  height: 70vh;
  order: 2;
  margin-top: 30px;
  margin-bottom: 10px;
}

.boxtop,
.boxbottom {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 10px;
  background: #e8db9d; /* צבע תיבה */
  opacity: 0.88;
}
.boxtop {
  height: 48%;
}
.boxbottom {
  height: 35%;
  margin-bottom: 65px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh; /* גובה מלא */
  background-image: url("../assets/Background-images15.jpg");
  /* background: radial-gradient(circle, #f8f5e9 0%, #fbfaf0 30%, #f0e8cb 50%, #c6ab77 75%, #d4bd8a 100% ); */
  background-size: cover; /* כיסוי מלא של העמוד */
  background-position: center; /* מיקום במרכז */
  background-repeat: no-repeat; /* ללא חזרות */

  text-align: right;
  overflow: hidden; /* מניעת גלילה */
  position: relative; /* לשמירה על תיחום הרקע */
}

/* כדי למנוע שקיפות על כל אלמנטי הבוקס */
.main-content,
.date-container,
.login-options {
  background: none;
  position: relative;
}

/* .zmanim-container {
  display: flex;
  flex-direction: column;
  animation: scrollAll 20s linear infinite; 
}

@keyframes scrollAll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */

/* .zmanim-item {
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  text-align: right;
} */

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}
.title2 {
  font-size: 1.3rem;
  margin: 5px;
  text-align: center;
}
/* מיקום האייקון */
/* .login-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
} */
/* עיצוב האייקון */
.login-container .icon {
  height: 94%;
  width: 94%;
  margin-left: -10px;
}
.icon {
  cursor: pointer;
  /* height: 80%;
  width: 80%; */
  color: #7a5900; /* גוון חום-זהוב כהה */
  background-color: #f5d67e; /* גוון זהוב רך */
  border-radius: 50%;
  padding: 1px;
  box-shadow: 0 4px 8px rgba(122, 89, 0, 0.4);
  transition: all 0.3s ease;
}

.icon:hover {
  background-color: #7a5900; /* גוון חום-זהוב כהה */
  color: #f5d67e; /* גוון זהוב רך */
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(122, 89, 0, 0.6);
}

/* עיצוב תפריט */
.login-options {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(122, 89, 0, 0.5);
  padding: 10px;
  width: 150px;
  animation: fadeIn 0.3s ease;
  background-color: #fff9e6;
  border: 1px solid #f5d67e;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.entry-link {
  background-color: transparent;
  color: #7a5900;
  border: 1px solid #f5d67e;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.entry-link:hover {
  background-color: #f5d67e;
  color: #7a5900;
}

.homepage-container.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.header-container {
  text-align: center;
  margin-top: 12px;
}

.time-container,
.weekly-portion {
  font-size: 1.2em;
  margin: 5px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  width: 200px;
  animation: none !important;
  transition: none !important;
}

.messages-congratulations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.messages-box,
.congratulations-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  animation: none !important;
  transition: none !important;
}

/* Media query for desktop */
@media (min-width: 769px) {
  .homepage-container.mobile {
    display: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
}
/* .prayer-times-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
} */

.prayer-times-column {
  flex: 1;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.prayer-times-column h3 {
  text-align: center;
  margin-bottom: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.modal-content {
  background: linear-gradient(145deg, #f8e9c2, #d4b060);
  border-radius: 16px;
  width: 80%;
  height: 90%;
  max-width: 500px;
  padding: 25px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border: 2px solid #d4b060;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.modal-header h2 {
  font-size: 1.8rem;
  color: #704c24;
  margin: 0;
}

.close-button {
  background: #704c24;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.close-button:hover {
  background: #a97844;
}

.modal-body {
  /* margin-top: 15px; */
  color: #4e3621;
  /* font-size: 1.1rem; */
  line-height: 1.6;
  text-align: center;
}
.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.button {
  padding: 10px 40px;
  font-size: 1em;
  font-weight: bold;
  color: #4d3b0c;
  background: linear-gradient(145deg, #ffe6b3, #f5d28d);
  border: 2px solid #d1a768;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.button:hover {
  background: linear-gradient(145deg, #f7d9a6, #edd09a);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messages-congratulations {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 65%;
  padding: 15px;
  /* background: linear-gradient(145deg, #f8e9c2, #d4b060); */
  border-radius: 12px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #d4b060; */
  /* font-size: 1.4em; */
}

.messages-box,
.congratulations-box {
  padding: 15px;
  /* border: 1px solid #b89456; */
  border-radius: 8px;
  background: linear-gradient(145deg, #fff8e5, #f0e1c2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background: #e8db9d;
  /* font-weight: bold; */
  color: #704c24;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.messages-box h1,
.messages-box h1 {
  font-size: 1.4em;
  font-weight: 500;
}

.messages-box:hover,
.congratulations-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.messages-box:active,
.congratulations-box:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* עטיפה כללית לזמני תפילה במובייל */
.prayer-times-mobile-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  /* background: linear-gradient(
    145deg,
    #f9edd1,
    #d9b97a
  );  */
  border-radius: 20px;
  width: 100%;
  /* justify-content: space-between; */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.prayer-column {
  flex: 1;
  /* padding: 1.2rem; */
  border-radius: 15px;
  background: linear-gradient(
    145deg,
    #f9edd1,
    #d9b97a
  ); /* צבעים שממשיכים את העיצוב */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  /* font-size: 1.1rem; */
  color: #5e4221;
  transition: all 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.prayer-column h1 {
  font-size: 1.3rem;
  color: #704c24;
}

.prayer-column h2 {
  font-size: 1rem;
  color: #704c24;
}

/* אפקט ריחוף */
.prayer-column:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* כותרות לכל עמודה */
/* .prayer-column-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #70512e;
  margin-bottom: 0.8rem;
} */

/* פרטים בתוך עמודה */
.prayer-details {
  font-size: 1rem;
  color: #704c24;
  line-height: 1.1;
}

/* div,
button {
  border: none;
  outline: none;
  background-color: transparent !important;
  margin: 0;
  padding: 0;
} */
.day-times-button {
  cursor: pointer;
}

.container {
  width: 393px;
  height: 852px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(145deg, #f9e7b5, #dbc18a);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 0 35px 5px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 -2px 1px rgba(0, 0, 0, 0.15);
}

/* עיצוב תאריך */
.date-container.mobile {
  font-size: 24px; /* 1.6em מתוך בסיס 15px */
  font-weight: 500;
  border-radius: 12px;
  /* width: 70%; */
  height: 95px; /* גובה קבוע, לדוגמא */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #f9e7b5, #dbc18a);
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 0 35px 5px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0 -2px 1px rgba(0, 0, 0, 0.15);
  /* margin-top: 30px; */
}

/* עיצוב השעה */
.date-container.mobile .time-container {
  font-size: 25px;
  font-weight: bold;
  color: #704c24;
  border-bottom: 2px solid #d4af37;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* תיבת כותרת */
.date-container.mobile .title-box {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 283px;
  /* margin-top: 10px; */
}

/* עיצוב התאריך והפרשה */
.date-container.mobile .date,
.date-container.mobile .parashaholday {
  /* text-align: center; */
  width: 200px;
  font-size: 16px;
  color: #5c3d21;
  margin-right: 9px;
  margin-left: 9px;
}

/* עמודות זמני תפילה */
.prayer-times-mobile-container {
  display: flex;
  flex-direction: row;
  gap: 13px;
  /* padding: 16px;
  border-radius: 20px;
  justify-content: space-between;
  width: 353px; */
}

/* עמודות תפילה */
.prayer-column {
  background: linear-gradient(145deg, #f9edd1, #d9b97aab);
  /* width: 170px; */
  height: 230px;
  border-radius: 20px;
  color: #5e4221;
  /* font-weight: bold; */
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.95;
  order: 1;
}

/* אפקט ריחוף מעודן */
.prayer-column:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.prayer-column h1 {
  font-size: 18px;
  color: #704c24;
  margin: 10px 0;
}

.prayer-column h2 {
  font-size: 15px;
  color: #704c24;
  margin: 5px 0;
}

/* אפקט ריחוף */
.prayer-column:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* עיצוב מודאל */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 393px;
  height: 852px; */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.modal-content {
  background: linear-gradient(145deg, #f8e9c2, #d4b060);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.modal-header h2 {
  font-size: 27px; /* 1.8rem מתוך בסיס 15px */
  color: #704c24;
  margin: 0;
}

.close-button {
  background: #704c24;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px; /* 1.5rem מתוך בסיס 15px */
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.close-button:hover {
  background: #a97844;
}

.modal-body {
  color: #4e3621;
  line-height: 1.6;
  text-align: center;
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.button {
  padding: 12px 32px;
  font-size: 15px;
  font-weight: bold;
  color: #4d3b0c;
  background: linear-gradient(to bottom right, #ffe6b3, #f5d28d);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(77, 59, 12, 0.1);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);

  /* הגדרת אנימציה לחיצה */
  transform: scale(1); /* מצב רגיל */
}

.button:hover {
  background: linear-gradient(to bottom right, #f9dda8, #efcc85);
  box-shadow: 0 6px 12px rgba(77, 59, 12, 0.15);
  transform: translateY(-2px);
}

.button:active {
  /* אפקט קפיצה בלחיצה */
  transform: scale(0.95); /* הקטנה קלה */
  box-shadow: 0 2px 4px rgba(77, 59, 12, 0.15);
  background: linear-gradient(to bottom right, #f5d28d, #e4b972);
  transition: transform 0.1s ease, background 0.2s ease;
}

.messages-congratulations {
  margin-top: -10px;
}

.congratulations-box div {
  font-size: 14px;
  /* margin: 5px; */
  margin-top: -3px;
}

.congratulations-box {
  height: 100px;
}

.messages-box {
  height: 130px;
}

.messages-box,
.congratulations-box {
  padding: 15px;
  border-radius: 8px;
  background: #e8db9d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #704c24;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.messages-box h1 {
  font-size: 21px; /* 1.4em מתוך בסיס 15px */
  font-weight: 500;
}

.messages-box:hover,
.congratulations-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.messages-box:active,
.congratulations-box:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* כפתור לחיצת ימים */
.day-times-button {
  cursor: pointer;
}
